<!-- New Account Modal -->
<div class="modal fade" id="newAccountModal" tabindex="-1" role="dialog" aria-labelledby="newAccountModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="newAccountModalLabel">Sign Up</h4>
			</div><!-- /.modal-header -->
			<div class="modal-body">
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				  <%= devise_error_messages! %>

				  <div><%= f.label :email %><br />
				  <%= f.email_field :email, :autofocus => true %></div>

				  <div><%= f.label :password %><br />
				  <%= f.password_field :password %></div>

				  <div><%= f.label :password_confirmation %><br />
				  <%= f.password_field :password_confirmation %></div>

			</div><!-- /.modal-body -->
			<div class="modal-footer">
				  <div><%= f.submit "Sign up", class: 'btn btn-small btn-success' %></div>
				<% end %>
				<%= render "devise/shared/links" %>
			</div><!-- /.modal-footer -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->