<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ship.name %>
</p>

<p>
  <strong>Ship class:</strong>
  <%= @ship.ship_class %>
</p>

<p>
  <strong>Pivot:</strong>
  <%= @ship.pivot %>
</p>

<p>
  <strong>Roll:</strong>
  <%= @ship.roll %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @ship.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @ship.user_id %>
</p>

<%= link_to 'Edit', edit_ship_path(@ship) %> |
<%= link_to 'Back', ships_path %>
